body{
	background-color: beige;
}

.navbar {
  background-color: #B7CEEC;
  height: 4em;
  margin-top: 6em;
}
.navbar-brand{
  font-family:'The Girl Next Door';
  font-size: 2em;
  border: 1px solid darkblue;
}

.icon-bar {
  background-color: #224cbd;
}
#myNavbar{
  font-family:'The Girl Next Door';
  font-size: 2.5em;

}

img { 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-responsive{
	height: 30em;
	width: 89em;
	margin-top: 2em;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
}
.img-circle{
/* 	border-radius: 50%;
	height: 20em;
	margin-left: 55em; */
    border: 15px solid beige;
    border-radius: 100%;
    /* border-top-left-radius: 2em; */
    /* border-bottom-right-radius: 2em; */
    margin-right: 17em;
    width: 250px;
    float: right;
    margin-top: 27em;
    position: absolute;
    margin-left: 51em;
    z-index: 5px;

}
.about-section{
  margin-top: 38em;
}
.about-section h3{
  position: absolute;
  font-size: 3em;
  font-weight: bold;
  font-family:'The Girl Next Door';
}
.about-section p{
/* position: absolute; */
font-size:1em;
margin-top: 6em;
}

.portfolio-section{
  background-color: lightcyan; 
}

.row-3 a img {
  margin-bottom:2em
}
.row-2 a{
  margin-right:-22em
}
.row-2 a img{
  margin-left: -6em;
}
.contact-form{
  border: 3px solid beige;
  position: absolute;
}
.contact-section img{
  width: 40em;

}


