body{
	background-color: lightgrey;
}

.navbar {
  background-color: #B7CEEC;
  height: 4em;
  margin-top: 2em;
}
.navbar-brand{
  font-family:'The Girl Next Door';
  font-size: 2em;
  border: 1px solid darkblue;
  height: 54px;
}

.icon-bar {
  background-color: #224cbd;
}
#myNavbar{
  font-family:'The Girl Next Door';
  font-size: 2.5em;

}

img { 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-responsive{
	height: 30em;
	width: 89em;
	margin-top: 2em;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
}
.img-circle{
/* 	border-radius: 50%;
	height: 20em;
	margin-left: 55em; */
    border: 15px solid lightgrey;
    border-radius: 100%;
    /* border-top-left-radius: 2em; */
    /* border-bottom-right-radius: 2em; */
    margin-right: 17em;
    width: 250px;
    float: right;
    margin-top: 27em;
    position: absolute;
    margin-left: 51em;
    z-index: 5px;

}
#about {
  margin-top: 46em;
}
#about h3{
  position: absolute;
  font-size: 3em;
  font-weight: bold;
  font-family:'The Girl Next Door';
  margin-top: -102px;
}
#about p{
/* position: absolute; */
font-size:2em;
font-weight: bold;
margin-top: 6em;
font-family:'The Girl Next Door';
}

#skills img{
  margin-left: -30px;
  width: 106%;
  height: 300px;
  opacity: 0.3;
  border: 5px solid darkblue;
}
/* what I know */
#skills h2{   
  position: absolute;
  font-family:'The Girl Next Door';
  text-align: center;
  /* border: 2px solid black; */
  margin-left: 185px;
  font-size: 25px;
  font-weight: bold;
  color: darkblue;
}
/* what I'm learning */
#future-skills h2{
  position: absolute;
  /* padding-left: 711px; */
  font-family:'The Girl Next Door';
  text-align: center;
  /* border: 2px solid black; */
  margin-left: 647px;
  margin-top: 21px;
  font-size: 2em;
  font-weight: bold;
  color: darkblue;
}

.skills-grid{
  /* border: 2px solid black; */
  position: absolute;
  margin-top: 69px;
  text-align: center;
  height: 100px;
  color: black;
  font-size: 2em;
  /* padding-bottom: 13.5px; */
}
.learning-grid{
  /* border: 2px solid black; */
  position: absolute;
  margin-top: 84px;
  text-align: center;
  color: black;
  font-size: 2em;

}
.icon-grid{
  font-family:'The Girl Next Door';
  color: black;
  font-size: 25px;
  font-weight: bolder;
  /* margin-top: 66px; */

}
.label5{
  color: black;
  margin-top: -18px;
  margin-right: 71px;
}

#portfolio h1{
  background-color: lightgrey; 
  font-family:'The Girl Next Door';
  color: black;
  font-size: 40px;
  text-align: center;
}
#portfolio p{
   font-family:'The Girl Next Door';
  color: black;
  font-size: 20px;
  text-align: center;
}

.row-3 a img {
  margin-bottom:2em
}
.row-2 a{
  margin-right:-22em
}
.row-2 a img{
  margin-left: -6em;
}
.contact-form{
  border: 3px solid beige;
  position: absolute;
}

#contact{
 background-color: #B7CEEC;
}

#contact h1{
  background-color: #B7CEEC;
  font-family:'The Girl Next Door';
  color: black;
  font-size: 40px;
  text-align: center;

}

#contact p{
  font-family:'The Girl Next Door';
  color: black;
  font-size: 20px;
  text-align: center;
}



