

#first-name-wrapper{
    color: beige;
    font-family: 'The Girl Next Door';
    margin-top: 4em;
    font-size: 2em;
}
#title-wrapper{
    color: beige;
    font-family: 'The Girl Next Door';
    margin-top: -4em;
    font-size: -3em;
}
#splashscreen{
    text-align: center;
    font-size: 2em;
    /* margin-top: 6.5em; */
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-image: url("file:///Users/Porscha/Downloads/leaves.jpeg");
}
body {
    background-color:beige;
}


.enter_link{
/*    border: 3px solid slategrey;
   border-radius: .30em; */
} 
h5{
    color: beige;
    font-family: 'The Girl Next Door';
    margin-top: -1em;
}

p{
    margin-top: 53 em;
}


